<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>Loin in</title>
    <a>{{ welcome }}</a>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <p>profile</p>
            </div>
            <div class="row">
                <p>blind box</p>
            </div>
            <div class="row">
                <p>resale card</p>
            </div>
            <nav id="main-nav">
                                    <ul id="main-menu" class="sm sm-blue">
                                        <li class="active"><a href="/first/index/"><h3>主页</h3></a></li>
                                        <li class="megamenu-wrap"><a href="#"><h3>小镇地图</h3></a></li>
                                        <li><a href="#"><h3>冬季滑雪</h3></a>
                                            <ul>
                                                <li><a href="/first/equip/" >雪具租赁</a></li>
                                                <li><a href="#">教练预约</a>
                                                    <ul>
                                                        <li><a href="/first/coachdan/">单板教练</a>
                                                        </li>
                                                        <li><a href="player-medium-wlsb.html">双板教练</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li><a href="/first/orderdone/" >全部订单</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#"><h3>小镇生活</h3></a>
                                            <ul>
                                                <li><a href="/first/bus/">班车预定</a>
                                                </li>
                                                <li><a href="#">餐饮娱乐</a>
                                                    <ul>
                                                        <li><a href="blog-large.html">餐饮</a></li>
                                                        <li><a href="blog-large-wlsb.html">商店</a></li>
                                                        <li><a href="blog-large-wrsb.html">娱乐设施</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">星级酒店</a>
                                                    <ul>
                                                        <li><a href="blog-detail.html">太舞酒店</a></li>
                                                        <li><a href="blog-detail-waudio.html">威斯汀源宿</a></li>
                                                        <li><a href="blog-detail-wvideo.html">凯悦酒店</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                 <li><a href="/first/xiaozhenorderdone/">班车订单</a>
                                            </ul>
                                        </li>
                                        <li><a href="#"><h3>小镇新闻</h3></a>
                                        </li>
                                        <li><a href="contact-us.html"><h3>联系我们</h3></a></li>
                                    </ul>
                                </nav>

        </div>
        <div class="col-md-9">

                 <p>this is all cards</p>

        </div>

    </div>
    </div>
</div>
</body>
</html>