<!DOCTYPE html>
<html>

{% load static %}

<head>
    <meta charset="utf-8">
    <title>main page</title>

    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/bootstrap/css/fontawesome-all.css">
    <link rel="stylesheet" href="/static/bootstrap/css/slick-slider.css">
    <link rel="stylesheet" href="/static/bootstrap/css/fancybox.css">
    <link rel="stylesheet" href="/static/bootstrap/css/smartmenus.css">
    <link rel="stylesheet" href="/static/bootstrap/style.css">
    <link rel="stylesheet" href="/static/bootstrap/css/color.css">
    <link rel="stylesheet" href="/static/bootstrap/css/responsive.css">


    <style>
        body {
            background-image: url("/static/images/wallpaper.jpg");
            background-size:cover;
            color: white;
            font-family: 'Poppins', sans-serif;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Pokemon</a>
                </div>
                <div>
                    <ul class="nav navbar-nav">


                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Blind Box<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">

                                <li><a href="#">Best sellers </a></li>
                                <li class="divider"></li>
                                <li><a href="#">Order history</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Resale Card <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">

                                <li><a href="#">Find what you like</a></li>
                                <li class="divider"></li>
                                <li><a href="#"> Resale history</a></li>

                            </ul>
                        </li>
                    </ul>
                </div>
                <div>
                    <form class="navbar-form" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">search</button>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign in</a></li>
                        </ul>
                    </form>
                </div>

            </div>
        </nav>
    </div>

</div>

<script src="/static/bootstrap/js/jquery.js"></script>
<script src="/static/js/main.js"></script>

<script href="js/bootstrap.js"></script>
<script href="js/npm.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/bootstrap/js/popper.min.js"></script>


</body>
</html>